@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-variant-numeric: tabular-nums;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-moz-window-dragging: none;
	user-drag: none;
}
